@{
    Layout = "_Layout";
}

@model List<ListarMovimentacoesViewModel>

<div class="container mt-5">

    <div class="d-flex justify-content-between align-items-center mb-4">

        <h2>Histórico de Movimentações</h2>

        <a type="button"
           class="btn btn-outline-primary rounded-pill px-4 mb-3"
           asp-action="Listar">
            <i class="bi bi-arrow-left me-2"></i>Voltar ao Estoque
        </a>

    </div>

@if (Model.Count == 0)
{
    <div class="alert alert-warning" role="alert">
        Nenhuma movimentação encontrada!
    </div>
}
else
{
    <table class="table table-hover align-middle">

        <thead class="table-primary">
            <tr class="table-active">
                <th>Data</th>
                <th>Medicamento</th>
                <th>Tipo</th>
                <th>Quantidade</th>
            </tr>
        </thead>

        <tbody>
            @foreach (ListarMovimentacoesViewModel movimentacao in Model)
            {
                <tr>
                    <td>@movimentacao.Data.ToString(format: "dd/MM/yyyy HH:mm")</td>

                    <td>@movimentacao.Medicamento</td>

                    <td>
                        @if (movimentacao.Tipo == "Entrada")
                        {
                            <span class="badge bg-success">
                                @movimentacao.Tipo
                            </span>
                        }
                        else
                        {
                            <span class="badge bg-danger">
                                @movimentacao.Tipo
                            </span>
                        }
                    </td>

                    <td>@movimentacao.Quantidade</td>
                </tr>
            }
        </tbody>
    </table>
}
</div>