@model IEnumerable<ControleDeMedicamentos.WebApp.ModuloFuncionarios.Apresentacao.FuncionarioViewModel>
@{
    ViewData["Title"] = "Consulta de Funcionários";
    Layout = "_Layout";
}

<div class="container mt-5">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h2>Consulta de Funcionários</h2>

        <a class="btn btn-outline-primary rounded-pill px-4" asp-controller="Funcionarios" asp-action="Cadastrar">
            <i class="bi bi-plus-lg me-2"></i>Novo Funcionário
        </a>
    </div>

    @if (Model == null || !Model.Any())
    {
        <div class="alert alert-warning" role="alert">
            Nenhum Funcionário cadastrado!
        </div>
    }
    else
    {
        <div class="table-responsive">
            <table class="table table-hover align-middle shadow-sm rounded-3">
                <thead class="table-primary">
                    <tr>
                        <th>ID</th> 
                        <th>Nome</th> 
                        <th>Telefone</th>
                        <th>CPF</th>
                        <th class="text-center">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var f in Model)
                    {
                        <tr>
                            <td>@f.Id.ToString()</td> 
                            <td>@f.Nome</td>
                            <td>@f.Telefone</td>
                            <td>@f.CPF</td>
                            <td class="text-center">
                                <a class="btn btn-outline-secondary rounded-pill px-3" asp-action="Editar" asp-route-id="@f.Id">Editar</a>
                                <a class="btn btn-outline-danger rounded-pill px-3" asp-action="Excluir" asp-route-id="@f.Id">Excluir</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
</div>