@{
    Layout = "_Layout";
}

@model List<ListarMedicamentosViewModel>

<div class="container mt-5">

    <div class="d-flex justify-content-between align-items-center mb-4">

        <h2>Consulta de Medicamentos</h2>

        <a type="button" class="btn btn-outline-primary rounded-pill px-4 mb-3" asp-action="Cadastrar">
            <i class="bi bi-plus-lg me-2"></i>Novo Medicamento</a>

    </div>

    <div class="d-flex gap-2 mb-4">
            <div class="col-auto">

                <form asp-action="Listar" method="get" class="d-flex gap-2 mb-4">

                    <div class="col-auto">
                        <select name="fornecedorNome" class="form-select">
                            <option value="">Todos Fornecedores</option>

                            @foreach (dynamic f in ViewBag.Fornecedores)
                            {
                                <option value="@f.Nome"
                                        selected="@(Context.Request.Query["fornecedorNome"] == f.Nome)">
                                    @f.Nome
                                </option>
                            }
                        </select>
                    </div>

                    <div class="col-auto">
                        <button type="submit"
                                class="btn btn-primary rounded-pill px-4">
                            Filtrar
                        </button>
                    </div>

                    <a class="btn @(!ViewBag.ApenasEmFalta ? "btn-primary" : "btn-outline-primary") rounded-pill px-4"
                    asp-action="Listar">
                        Todos
                    </a>

                    <a class="btn @(ViewBag.ApenasEmFalta ? "btn-primary" : "btn-outline-primary") rounded-pill px-4"
                    asp-action="Listar"
                    asp-route-apenasEmFalta="true">
                        Em falta
                    </a>

                </form>

        </div>
    </div>

@if (Model.Count == 0)
{
    <div class="alert alert-warning 12px" role="alert">
        Nenhum Medicamento cadastrado!
    </div>
}

else
{
    <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 g-2">
            <table class="table table-hover align-middle">
                <thead class="table-primary">
                    <tr class="table-active">
                        <th>Id</th>
                        <th>Nome</th>
                        <th>Quantidade</th>
                        <th>Fornecedor</th>
                        <th>Ações</th>                       
                    </tr>
                </thead>

                <tbody>

                    @foreach (ListarMedicamentosViewModel m in Model)
                    {
                         <tr>
                            <td>@m.Id</td>
                            <td>@m.Nome</td>
                            <td>
                                @m.Quantidade

                                @if (m.Quantidade < 20)
                                {
                                    <span class="badge bg-danger ms-2">Em falta</span>
                                }
                            </td>
                            <td>@m.FornecedorNome</td>  
                            <td>
                                <a class="btn btn-outline-primary rounded-pill px-3"
                                    asp-action="Detalhes"
                                    asp-route-id="@m.Id"> Detalhes</a> 
                                      
                                <a class="btn btn-outline-secondary rounded-pill px-3"
                                    asp-action="Editar"
                                    asp-route-id="@m.Id">Editar</a>

                                <a class="btn btn-outline-danger rounded-pill px-3"
                                    asp-action="Excluir"
                                    asp-route-id="@m.Id">Excluir</a>
                            </td>                          
                        </tr>
                    }
                </tbody>
    </div>
}
</div>